<div class="col-xs-10 col-xs-offset-1 text-center about">
	<h1>About Splurty</h1>
</div>

<br class="clear" />
<br>


<!-- removing a few lines for testing
<div class="col-xs-12 col-sm-1 col-sm-offset-1">
	<%= image_tag 'FHPlogo70x100.png', :class => 'img-responsive' %>
</div>
-->

<!-- <div class="col-xs-12 col-sm-9 col-sm-offset-1 blurb">-->
<div class="col-xs-12 blurb">
	<h3 class="text-center">Splurty</h3>
	<p>
	Splurty was first designed and built by Marco Morawec and Ken Mazaika. Web developers on a mission to give people the technical skills needed to launch their own MVPs and turn ideas into reality.
	</p>
</div>
<br class="clear" />
<br>

<div class="col-xs-12 col-sm-2">
	<%= image_tag 'sAMPsmed.png', :class => 'AMP-img' %>
</div>

<div class="col-xs-12 col-sm-9 col-sm-offset-1 blurb">
	<h3 class="text-center">AMPed</h3>
	
	<p>
	This Wingman App version of Splurty was adapted by <a href="http://amarkpark.com">amarkpark</a> training to code as part of The Firehose Project and is an <b><i><span style="color:Indigo">AMPed Web App</span></i></b>.
	</p>
</div>
<br class="clear" />
<br>
<div class="text-center blurb">
	<p>
	If you want to learn how to code - start <a target="_blank" href="http://www.thefirehoseproject.com/"> here</a>.
	</p>
</div>
<br class="clear" />