<h1>So you think you got game?</h1>
<h2>Enter your winning line here...</h2>
<%= simple_form_for @quote do |f| %>
	<%= f.input :pickupline %>
	<%= f.input :author %>
	<br />
	<%= f.submit 'Add', :class => 'btn btn-danger' %> 
<% end %>
