
@-ms-viewport{
  width: device-width;
}
.clear {
	clear:both;
}
.circle {
    font-weight:bold;
    font-style: italic;
    position: relative;
    border-radius: 100%;
    background: #5c3485;
    border: 1px solid #F7F7F7;
    width: 90px;
    height: 90px;
    margin: 10px 10px;
    text-align: center;
    color: #FFF;
    font-size: 12px;
    line-height: 16px;
    cursor: pointer;
    transform:rotate(-15deg);
    -ms-transform:rotate(-15deg); /* IE 9 */
    -webkit-transform:rotate(-15deg); /* Opera, Chrome, and Safari */
}
.slogan {
	/* Trebuchet-based sans serif stack */
	font-family: "Segoe UI", Candara, "Bitstream Vera Sans", "DejaVu Sans", "Bitstream Vera Sans", "Trebuchet MS", Verdana, "Verdana Ref", sans-serif;
	font-style: italic;
	font-size: 24px;
	padding-top: 30px;
	/* background-color: #e3e0e7; */
}
.links {
	padding-top:18px;
}
.links a {
	font-family: 'fira_sansmedium', sans-serif;
	font-size:18px;
	color:black;
	border-bottom: 1px solid #b6acc3;
}
.links a:hover {
	text-decoration:none;  
}
header {
	border-top: 9px solid #67606f;
	background-color: #e3e0e7;  /* why doesn't this work?!? */
}

/* I don't think the header columns are IN the header container */
/* Instructions called for "border-top". It didn't look like the picture. */
/* When I added "border-bottom" I got a border twice as thick at the top. */
/* I subsequently added a top border to the hr section to compensate. */

hr {
	clear:both;
	border-top: 9px solid #67606f;
}
h1 {
	font-family: 'fira_sansmedium_italic', sans-serif;
	font-size:48px;
}
h2 {
	font-family: 'fira_sansregular', sans-serif;
	font-size:36px;
}
h3 {
	font-family: 'fira_sansmedium', sans-serif;
	font-size:24px;
}
h4 {
	font-family: 'fira_sansmedium_italic', sans-serif;
	font-size:26px;
}
h5 {
	font-family: 'fira_sansmedium', sans-serif;
	font-size:20px;
}
.next-quote {
	color:#f84342;
	font-family: 'fira_sansitalic', sans-serif;
	font-size:20px;
}

.footer-blurb {
	/* Trebuchet-based sans serif stack */
	font-family: "Segoe UI", Candara, "Bitstream Vera Sans", "DejaVu Sans", "Bitstream Vera Sans", "Trebuchet MS", Verdana, "Verdana Ref", sans-serif;
	font-style: italic;
	text-align:right;
	font-size:12px;
}
@media (max-width: 750px) {
	.footer-blurb {
	text-align:left;
	}
}

.logo:hover {
	text-decoration:none;
}
.about {
	/* Trebuchet-based sans serif stack */
	font-family: "Segoe UI", Candara, "Bitstream Vera Sans", "DejaVu Sans", "Bitstream Vera Sans", "Trebuchet MS", Verdana, "Verdana Ref", sans-serif;
	font-style: italic;
	font-size: 24px;
}
.blurb {
	font-family: 'fira_sansregular', sans-serif;
	font-size:18px;
}
.modal {
	/* Trebuchet-based sans serif stack */
	font-family: "Segoe UI", Candara, "Bitstream Vera Sans", "DejaVu Sans", "Bitstream Vera Sans", "Trebuchet MS", Verdana, "Verdana Ref", sans-serif;
}
::selection {
	background-color: #f84342;
}